<div class="container row">
  <div class="col-sm-8 m-auto">
    <form action="/search" method="GET">
      <div class="row mt-5">
        <div class="col">
          <select class="rounded bg-light form-select" name="category" onchange="form.submit()">
            <option selected>全部</option>
            {{#each categories}}
              <option value="{{this.name}}" {{this.selected}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        
        <div class="col">
          <select class="rounded bg-light form-select" name="sort" onchange="form.submit()">
            <option value="" selected>排序方式</option>
            <option value="amountDesc" {{#if sortObj.amountDesc}}selected{{/if}}>💰大->小</option>
            <option value="amountAsc" {{#if sortObj.amountAsc}}selected{{/if}}>💰小->大</option>
            <option value="dateDesc" {{#if sortObj.dateDesc}}selected{{/if}}>📆大->小</option>
            <option value="dateAsc" {{#if sortObj.dateAsc}}selected{{/if}}>📆小->大</option>
          </select>
        </div>
        
        <div class="col">
          <select class="rounded bg-light form-select" name="limit" onchange="form.submit()">
            <option value="" selected>顯示幾項</option>
            <option value="3" {{#ifMatch pagination.limit 3}}selected{{/ifMatch}}>3</option>
            <option value="5" {{#ifMatch pagination.limit 5}}selected{{/ifMatch}}>5</option>
            <option value="10" {{#ifMatch pagination.limit 10}}selected{{/ifMatch}}>10</option>
            <option value="20" {{#ifMatch pagination.limit 20}}selected{{/ifMatch}}>20</option>
          </select>
        </div>
      </div>
    </form>
    

    {{!-- total amount --}}
  <p class="my-2 fs-5 mt-3">總金額 : </p>
  <p class="fs-1 text-danger text-center">${{ totalAmount }}</p>

  <div class="text-primary text-secondary text-end mb-1">
    頁數<span id="current-page">{{pagination.currentPage}}</span>/{{pagination.totalPage}}
  </div>

    <table class="table table-striped">
      <tbody>
        {{#each records}}
          <tr>
            <td class="col-1 align-middle fs-1 text-info"><i class="{{ this.category_id.icon }}"></i></td>
            <td class="align-middle">
              {{ this.name }}
              <br>
              {{ this.date }}
            </td>
            <td class="fw-bold align-middle">${{ this.amount }}</td>
            <td class="bg-white align-middle">
              <a href="/records/{{ this._id }}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square fs-5"></i></a>
            </td>
            <td class="table-white align-middle">
              <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash fs-5"></i></button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{!-- pagination navbar --}}
  {{#if pagination.pages}}
    <nav class="mt-3 d-flex justify-content-center" aria-label="page navigation">
      <ul class="pagination">
        <li class="page-item {{#ifMatch pagination.currentPage 1}}disabled{{/ifMatch}}">
          <a class="page-link" href="/search?page={{pagination.prev}}&category={{pagination.category}}&sort={{pagination.sort}}&limit={{pagination.limit}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagination.pages}}
          {{#ifMatch this.page ../pagination.currentPage}}
            <li class="page-item active"><a class="page-link" href="#">{{this.page}}</a></li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="/search?page={{this.page}}&category={{../pagination.category}}&sort={{../pagination.sort}}&limit={{../pagination.limit}}">{{this.page}}</a>
            </li>
          {{/ifMatch}}
        {{/each}}
        <li class="page-item {{#ifMatch pagination.currentPage pagination.totalPage}}disabled{{/ifMatch}}">
          <a class="page-link" href="/search?page={{pagination.next}}&category={{pagination.category}}&sort={{pagination.sort}}&limit={{pagination.limit}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  {{/if}}
</div>