<div class="container row">
  <div class="col-sm-8 m-auto">
    <form action="/search" method="GET">
      <div class="row mt-5">
        <div class="col">
          <select class="rounded bg-light form-select" name="category" onchange="form.submit()">
            <option selected>全部</option>
            {{#each categories}}
              <option value="{{this.name}}" {{this.selected}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        
        <div class="col">
          <select class="rounded bg-light form-select" name="sort" onchange="form.submit()">
          <option value="" selected>排序方式</option>
          <option value="amountDesc" {{#if sortObj.amountDesc}}selected{{/if}}>💰大->小</option>
          <option value="amountAsc" {{#if sortObj.amountAsc}}selected{{/if}}>💰小->大</option>
          <option value="dateDesc" {{#if sortObj.dateDesc}}selected{{/if}}>📆大->小</option>
          <option value="dateAsc" {{#if sortObj.dateAsc}}selected{{/if}}>📆小->大</option>
        </select>
        </div>
        
      </div>
    </form>
    

    {{!-- total amount --}}
  <p class="my-2 fs-5 mt-3">總金額 : </p>
  <p class="fs-1 text-danger text-center">${{ totalAmount }}</p>
  
    <table class="table table-striped">
      <tbody>
        {{#each records}}
          <tr>
            <td class="col-1 align-middle fs-1 text-info"><i class="{{ this.category_id.icon }}"></i></td>
            <td class="align-middle">
              {{ this.name }}
              <br>
              {{ this.date }}
            </td>
            <td class="fw-bold align-middle">${{ this.amount }}</td>
            <td class="bg-white align-middle">
              <a href="/records/{{ this._id }}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square fs-5"></i></a>
            </td>
            <td class="table-white align-middle">
              <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash fs-5"></i></button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>